[Unit]
Description=Switch OS

[Service]
Type=oneshot
User=root
ExecStart=/usr/local/bin/efi-boot-switch-wrapper

[Install]
RequiredBy=multi-user.target
